
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru">

<head>
<meta http-equiv="Content-Type" content="application/vnd.wap.xhtml+xml; charset=UTF-8"/>
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>

<%= stylesheet_link_tag    "style", :media => "all" %>
<script type="text/javascript" src="/themes/wapage/accordian.pack.js"></script>
</head>

<body onload="new Accordian('tml',5,'non');">

<div id="logo">
<%= image_tag('images/logo.png', :alt => "ƒÓ·‡‚ËÚ¸", :href => "/") %>
</div>

<div id="head">
<a href="#">–í–æ–π—Ç–∏</a>
<a href="#">–†–µ–≥–∏—Å—Ç—Ä–∞—Ü–∏—è</a>
</div>

<div id="adv">
<a href="#">–ù–æ–≤—ã–π –°–µ—Ä–≤–∏—Å –ö–∞—Ç–∞–ª–æ–≥–æ–≤!</a><br />
<a href="#">Java-—á–∞—Ç –ì–∞–ª–∞–∫—Ç–∏–∫–∞ –∑–Ω–∞–∫–æ–º—Å—Ç–≤!</a><br />
<a href="#">–ê–ª—å—Ç–µ—Ä–Ω–∞—Ç–∏–≤–Ω–∞—è-—Ä–æ–∫ –º—É–∑—ã–∫–∞</a><br />
</div>

<div class="title">
<b><%= image_tag('images/icom.png') %> –ì–ª–∞–≤–Ω–æ–µ –º–µ–Ω—é:</b>
</div>
<%= yield %>

<div id="banners">
<a href="#"><img src="http://rosban.su/20065.img?page" alt="rosban.su" /></a>
</div>

<div id="foot">
<a href="#">© waPAGE.net</a> | On: <a href="#">7/12</a>
</div>

<div id="count">
<a href="http://waplog.net/ru/c.shtml?47916"><img src="http://c.waplog.net/ru/47916.cnt" alt="waplog" /></a>
</div>
